/* Write your code here. */
.bg-container {
  height: 100vh;
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-size: 43px;
  font-family: 'Roboto';
}
.text-container {
  display: flex;
  flex-direction: column;
}
.text {
  font-size: 13px;
  font-family: 'Roboto';
  color: #e4e7eb;
}
.search-input {
  width: 250px;
  height: 30px;
  background-color: #1d976c;
  outline: none;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto';
}
.result {
  height: 50px;
  width: 200px;
  padding: 10px;
  background-color: #ffffff;
  color: #1d976c;
  font-size: 16px;
  font-family: 'Roboto';
  border-radius: 6px;
  font-weight: 600;
}
.image {
  height: 230px;
  width: 300px;
}
